body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: darkseagreen;
    padding: 0 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkseagreen;
    padding: 0 20px;
}

.logo {
    color: white;
    font-size: 28pt;
}

.logo p {
    margin: 25px 0;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    padding: 8px 12px;
}

nav a:hover {
    border: 1px solid white;
    border-radius: 5px;
}


.logout {
    margin-left: auto;
}

h2 {
    padding-top: 7px;
    font-size: 26pt;
}

h3 {
    padding-top: 15px;
    font-size: 18pt;
}

main {
    flex: 1;
    text-align: center;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
}


footer {
    font-size: 7pt;
    text-align: center;
    margin-top: auto;
    margin-bottom: 15px;
}

.form-group {
    padding: 20px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-top: 10px;
    padding: 7px;
    max-width: 35vw;
    font-size: 13pt;
    border-radius: 9px;
    border: 0.5pt solid black;
    min-height: 3vh;
    min-width: 18vw;
}

#submit {
    max-width: 9vw;
    max-height: 6vh;
    min-width: 5vw;
    min-height: 5vh;
    background-color: white;
    color: black;
    font-size: 9pt;
    border-radius: 9px;
    border: 0.5pt solid black;

}

#submit:hover {
    background-color: darkseagreen;
    color: white;
}

main > a {
    color: darkseagreen;
}

#preferences-form {
    text-align: left;
    align-items: flex-start;
}

.form-area {
    flex: auto;
    align-items: center;
    margin: 0 40%;
}

#preferences-submit {
    padding: 10px 40%;
}


select {
    margin-top: 12px;
}

table {
    text-align: left;
    border-collapse: collapse;
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center the table */
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: darkseagreen;
    color: white;
}
