<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>CityGuide</title>
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <p>CityGuide</p>
        </div>
        <ul>
            <li><a href="/">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/preferences">New Trip</a></li>
            <li><a href="/trips">My Trips</a></li>
        </ul>
        <div class="logout">
            <a href="/logout">Logout</a>
        </div>
    </nav>
</header>


<main>
    {% block content %}{% endblock %}
</main>


<footer>
    <p>Adam Matthews - S3853376@student.rmit.edu.au</p>
</footer>
</body>
</html>
