{% extends 'base.html' %}

{% block content %}
    <h1>Trips</h1>

    <table>
        <thead>
        <tr>
            <th>Trip Name</th>
            <th>Trip Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in trips_data %}
            <tr>
                <td><a href="{{ url_for('view_trip', trip_id=trip.TripID) }}">{{ trip.TripName }}</a></td>
                <td>{{ trip.TripNotes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
